gen/**
bin/**
build/**

.gradle/1.9/taskArtifacts/fileHashes.bin
.gradle/1.9/taskArtifacts/cache.properties.lock
.gradle/1.9/taskArtifacts/fileSnapshots.bin
.gradle/1.9/taskArtifacts/outputFileStates.bin
.gradle/1.9/taskArtifacts/taskArtifacts.bin